<h3>Add Day To Program</h3>
<%= simple_form_for(@program_day) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.association :program_week %>

    <%= f.input :dummy_workout_id, :collection => @program_workouts, :label_method => :title, :value_method => :id %> 
    <%= f.input :active_day %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>