<p id="notice"><%= notice %></p>

<h1>Program Weeks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Program</th>
      <th>Active week</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @program_weeks.each do |program_week| %>
      <tr>
        <td><%= program_week.title %></td>
        <td><%= program_week.program %></td>
        <td><%= program_week.active_week %></td>
        <td><%= link_to 'Show', program_week %></td>
        <td><%= link_to 'Edit', edit_program_week_path(program_week) %></td>
        <td><%= link_to 'Destroy', program_week, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Program Week', new_program_week_path %>
